<link rel="stylesheet" href="/css/footer.css">

<footer class="bg-light" >
    <div class=" container text-center ">
        <p class="fw-bold mb-3">Elektrotehnicki Fakultet Istocno Sarajevo <br>Copyright@ Stefan Koprivica 2021
        </p>
    </div>
</footer>


<!--<footer class="bg-light py-5 fixed-bottom" style="height: 110px;"> 
<div class=" container text-center ">
    <p class="fw-bold mb-3">Elektrotehnicki Fakultet Istocno Sarajevo <br>Copyright@ <i>Stefan Koprivica 2021</i></p>
</div>
</footer>--->